body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
} 

#Image {
    width: 100px;
    height: 100px;
}

#desk {
    font-size: 20px;
    color: #757575;
}

b {
    font-size: 30px;
}

#btn {
    width: 300px;
    height: 50px;
    font-size: 2em;
    margin-top: 30px;
    border: 3px;
    background-color: #222222;
    border-radius: 17px;
    user-select: none;
    color: #E0D0C6;
    border: 3px solid #E0D0C6;
}

#btn:focus {
    outline: none;
}

#btn:active {
    border: 3px solid darkgrey;
    color: darkgray;
}